<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EnergyConsumption -->
      <package
            uri="http://www.lowcomote.eu/EnergyProvider"
            class="energy.comsumption.sample.mm.EnergyProvider.EnergyConsumptionPackage"
            genModel="model/EnergyConsumption.genmodel"/>
   </extension>

</plugin>
